{{ if .Params.featured }}
<article class="post {{ .Section }} featured">
{{ else }}
<article class="post {{ .Section }}">
{{ end }}
	<div class="inner">
		<a class="post-link" href="{{ .Permalink }}"></a>
		{{ if .Params.image }}
		<figure class="post-image">
			<a href="{{ .Permalink }}"><img src="{{ .Params.image }}" alt="hero image" /></a>
		</figure>
		{{ end }}
		<span class="post-meta">
			<time datetime="{{ .Date }}" class="post-date">{{ .Date.Format "2 Jan 2006" }}</time>
		</span>
		<h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
		<div class="post-excerpt">
			{{ if .Description }}{{ .Description | markdownify }}{{ else }}{{ .Summary }}{{ end }}
		</div>
		<span class="post-more"><a href="{{ .Permalink }}">Read more <i class="fa fa-angle-right"></i></a></span>
	</div>
</article>
