<aside class="post-author">
  <figure class="post-author-avatar avatar">
      <img src="//www.gravatar.com/avatar/{{ .Site.Params.author.gravatarHash }}?s&#x3D;250&amp;d&#x3D;mm&amp;r&#x3D;x" alt="{{ .Site.Params.author.userName }}" />
  </figure>
  <div class="post-author-bio">
    <h4 class="post-author-name"><a href="/author/calebdinsmore/">Caleb Dinsmore</a></h4>
    <p class="post-author-meta">
      <span class="post-author-meta-location"><i class="fa fa-map-marker"></i> Indianapolis</span>
      {{ if .Site.Params.author.github }}
        <span class="post-author-meta-github"><i class="fa fa-github"></i> <a href="{{ .Site.Params.author.github }}">GitHub</a></span>
	    {{ end }}
      {{ if .Site.Params.author.linkedin }}
        <span class="post-author-meta-linkedin"><i class="fa fa-linkedin"></i> <a href="{{ .Site.Params.author.linkedin }}">LinkedIn</a></span>
	    {{ end }}
    </p>
      <p class="post-author-about">{{ .Site.Params.author.aboutBlurb }}</p>
  </div>
  <div class="clear"></div>
</aside>